*.json
*.tar
*.zip
twt.txt
yelp_api_key.txt
yelp_dataset
*.txt
*csv
*.xlsx
*.npz

data/models/individual_review_features.pkl

data/models/individual_review_model_ridge.pkl

data/models/individual_review_model.pkl

data/models/reddit_comments_features.pkl

data/models/reddit_comments_model.pkl
